/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* COMMON */
.container {
    width: 55%;
    margin: auto;
}
img {
    width: 100%;
}

/* Products */
.row {
    text-align: center;
    margin: 40px 0;
    
}

.product {
    width: 32%;
    display: inline-block;
    position: relative;

    
}

/* Banners */
.favorites {
    color: black;
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    display: inline-block;
    width: 25px;
    height: 25px;
    padding: 3px 0;
}
.discount {
    color: white;
    position: absolute;
    bottom: 45px;
    left: 0;
    background-color: #eb0037;
    display: inline-block;
    width: 30px;
    height: 16px;
    padding: 4px;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
}
.sostenibilità {
    color: white;
    position: absolute;
    bottom: 45px;
    left: 31px;
    background-color: #00875a;
    display: inline-block;
    width: 60px;
    height: 16px;
    padding: 4px;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
}
.sostenibilità-6 {
    color: white;
    position: absolute;
    bottom: 45px;
    left: 0px;
    background-color: #00875a;
    display: inline-block;
    width: 60px;
    height: 16px;
    padding: 4px;
    text-align: center;
    font-size: 8px;
    font-weight: bold;
}

/* Name and Price product */
.description {
    font-size: 8px;
    text-align: left;
    font-weight: 10;
}
.price {
    font-weight: bold;
}

/* Image switch */
.second-image {
    display: none;
}
.product:hover {
    cursor: pointer
}
.product:hover .second-image {
    display: inline-block   ;
}
.product:hover .first-image {
    display: none;
}